name: build

on:
  push:
    branches: [master]
  pull_request:

jobs:

  build:
    runs-on: ubuntu:22.04
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - uses: actions/setup-go@v4
      with:
        go-version: '1.19'
        cache: false
    - name: Test
      run: make test
    - name: Lint
      uses: golangci/golangci-lint-action@v3
      with:
        skip-go-installation: true
        skip-pkg-cache: true
        skip-build-cache: true
        version: v1.52.2
    - name: Prepare for E2E
      run: |
        apt-get install wget
        wget https://dist.ipfs.tech/kubo/v0.20.0/kubo_v0.20.0_linux-amd64.tar.gz
        tar -xvzf kubo_v0.20.0_linux-amd64.tar.gz
        cd kubo
        bash install.sh
        ipfs --version
    - name: E2E
      run: make e2e
